// Colors
$white: #fff;
$neuteral-gray-20: #ebeef6;
$neuteral-gray-30: #f4f8ff;

$primary-black: #555;
$primary-dark: #616c82;
$primary-gray: #7b8aab;

$primary-purple: #b233a6;
$primary-blue: #3d8fec;
$statuses-green: #50b810;
