@import './styles/mixins.scss';

.main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.todos {
	padding: 20px 0;
	width: 100%;
	max-width: 263px;
}

.todosWrapper {
	@include flex(column);
	gap: 8px;
	height: 514px;
	overflow-y: auto;
}
